@import "nullstyle.scss";
@import "slick.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
	font-family: Lato;
}



.wrapper {

	min-height: 100%;
	overflow: hidden;
}

/*page -для створення full screen*/
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;

}

.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;

}

/*----------HEADER--------------*/

.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 35px;

	&__row {
		z-index: 2;
		position: relative;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 85px;
	}

	@media (max-width:767px) {
		top: 15px;
	}
}

.menu {
	&__link {
		position: relative;

		font-family: Lato;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #4d4959;
	}

	&__list {
		display: flex;

		li {
			padding: 0 37.5px;
			position: relative;

			&:after {
				content: "";
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: #4d4959;
				right: 0;
				top: 50%;
				position: absolute;
				margin: -3px 0 0 0;
			}

			&:nth-child(even) {
				&::after {
					display: none;
				}
			}

			&:nth-child(2) {
				padding: 0 110px 0 37.50px;
			}

			&:nth-child(3) {
				padding: 0 37.5px 0 110px;
			}
		}
	}
}

@media (max-width:767px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 33px;
		right: 15px;
		cursor: pointer;
		z-index: 5;
		width: 30px;
		height: 18px;

		& span {
			z-index: 6;
			width: 100%;
			height: 2px;
			position: absolute;
			top: 8px;
			left: 0;
			background-color: #4d4959;
			transition: all 0.5s;

			&:first-child {
				top: 0px;
			}

			&:last-of-type {
				top: 16px;
			}
		}

		&.active {
			span {
				transform: scale(0);
				background-color: #fff;
				transition: all 0.5s;

				&:first-child {
					transform: translate(-50%, 0%) rotate(-45deg);
					top: 50%;
				}

				&:last-of-type {
					transform: translate(-50%, 0%) rotate(45deg);
					top: 50%;
				}
			}
		}
	}
}

@media (max-width:767px) {
	.menu {
		&__body {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0px;
			transition: all 0.5s;
			left: 0;
			overflow: auto;
			background-color: #4d4959;
			padding: 150px 0 20px 0;
			transform: translate(0px, -100%);

			&.active {
				transform: translate(0px, 0px);
			}
		}

		&__list {
			flex-direction: column;
			align-items: center;
			justify-content: center;

			li {
				padding: 0 0 45px 0;

				&:nth-child(2),
				&:nth-child(3) {
					padding: 0 0 45px 0;
				}

				&:nth-child(even) {
					&:after {
						display: block;
					}
				}

				&:last-child {
					padding: 0;
				}

				&:after {
					width: 4px;
					height: 4px;
					background-color: #fff;
					right: 50%;
					top: 40px;
					margin: 0 -2px 0 0;
				}
			}
		}

		&__link {
			color: #fff;
			font-size: 20px;
		}
	}
}



.header__logo {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	transform: translate(-50%, 0px);
}

.main-screen {
	flex: 1 0 100%;
	position: relative;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

	}
}

.ibg {

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {

	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

/*----------ARTICLE--------------*/

.block {
	padding-top: 117px;
	background-color: #f7f7f7;

}

.article1 {

	margin: 0 auto;
	text-align: center;


	padding-bottom: 142px;

}

.article1-image {

	margin-bottom: 34px;
}

.article1-title {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;
	margin-bottom: 35px;
}

.article1-text {
	font-family: Lato;
	font-size: 18px;
	line-height: 34px;
	font-weight: 400;
	color: #848789;
}


/*----------BRANDS-------------*/

.brands__row {
	display: flex;
}

.brands__column {
	flex: 0 1 33.333%;

	&_b {
		flex: 0 1 66.666%;
	}
}


.item {
	height: 100%;
	display: block;
	position: relative;

	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
		background-color: rgba(123, 196, 147, 0.5);
		opacity: 0;
		visibility: hidden;


	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
}


.brands__content {
	padding: 70px 67px 64px 67px;

}

.block__title {
	font-family: Lato;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3.6px;
	text-align: center;
	color: #353738;
	margin-bottom: 26px;
}

.block__text {
	font-family: Lato;
	font-size: 16px;

	line-height: 1.88;
	letter-spacing: normal;
	text-align: justify;
	color: #848789;
	position: relative;

	&:after {
		content: "";
		width: 50px;
		height: 1px;
		left: 50%;
		margin: 35px auto 0 auto;
		position: absolute;
		display: block;
		background-color: #353738;
	}
}


.block_logo {
	margin-bottom: 30px;
	text-align: center;
}

.brands__image {
	text-align: center;

	& img {
		width: 100%;
	}

}

/*------SLIDER--------*/

.slider {
	padding: 124px 0 180px 0;
	text-align: center;
	background-color: #f7f7f7;

}

.slider__body {}

.slider__icon {
	margin-bottom: 34px;
}

.slider__title {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #353738;
	margin-bottom: 27px;

	& span {
		font-weight: 300;
		color: #848789;
	}
}

.slider__text {
	font-family: Lato;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;

}

/*-----SHOP--------*/

.shop {}

.shop__body {
	display: flex;
}

.shop__column {
	flex: 0 1 16.666%;
}

.shop__column_b {
	flex: 0 1 33.333%;
}

.shop__block {}

.block-shop {
	height: 100%;
}

.block-shop__row {
	display: flex;
}

.block-shop__column {
	flex: 0 1 50%;
}

.block-shop__item {
	height: auto;
	padding: 0 0 50% 0;
}

.block-shop__item_b {
	padding: 0 0 200.5% 0;
}

.block-shop__item_l {
	padding: 0 0 100% 0;
}

.item {}

.item__logo span {
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	color: #fff;
	margin-top: 14px;
}

.item__image {}

._ibg {}

.shop__footer {
	background-color: #000;
	padding: 75px 0;
	text-align: center;
}


.shop__btn {
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	text-align: center;
	color: #fff;
	border: solid 1px rgba(255, 255, 255, 0.5);
	line-height: 48px;
	height: 50px;
	display: inline-block;
	padding: 0 60px;

}


/*----SUBSCRIBE-	--------*/
.subscribe {}

.container {}

.subscribe__body {
	max-width: 534px;
	padding: 110px 0;
	text-align: center;
	margin: 0 auto;

}

.header-logo {
	margin-bottom: 40px;
}

.subscribe__title {
	font-family: Lato;
	font-size: 24px;

	font-style: italic;
	line-height: 1.42;
	letter-spacing: normal;

	color: #848789;
	margin-bottom: 35px;

}

.subscribe__form {
	display: flex;

}

.subscribe__input {
	flex: 1 1 auto;
	padding: 0 8px 0 0;
}

.input {
	width: 100%;
	height: 69px;
	border: solid 1px #d3d7d9;
	background-color: #fff;
	padding: 0 28px;

	font-family: Lato;
	font-size: 20px;

	font-style: italic;

	letter-spacing: normal;

	color: #929292;

}

.subscribe__btn {
	flex: 0 0 126px;
	font-family: Lato;
	font-size: 24px;
	font-weight: 300;


	line-height: 69px;
	letter-spacing: normal;
	text-align: center;
	color: #fff;

	background-color: #64c29e;
	padding: 0px 45px;
	text-transform: uppercase;
}

/*----FOOTER	--------*/

footer {
	background-color: #f7f7f7;
}

.footer__block {
	padding: 100px 0px;
	margin: 0 auto;
	max-width: 1100px;
}

.footer__row {
	display: flex;
	justify-content: space-between;

}

.footer__column {
	flex: 0 1 33.333%;
	display: flex;
	justify-content: center;

	align-items: center;
}

.column-footer {}

.column-footer__item {
	font-family: Lato;
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	color: #848789;
}

.item-title {}

.item-text {
	font-size: 13.9px;
	font-weight: 400;
	font-style: italic;

}

.item-email {
	color: #848789;

	&:hover {
		text-decoration: underline;
	}
}

.footer__social img {
	margin: 0 7.5px;
}

.footer-design {
	font-family: Lato;
	font-size: 13.9px;
	line-height: 17px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	margin-right: 9px;
}

.footer-logo {}